setFontSmoothing()
  -webkit-font-smoothing antialiased // none | antialiased | subpixel-antialiased;
  -moz-osx-font-smoothing grayscale  // auto | inherit | unset | grayscale;
  font-smoothing antialiased         // API reference: http://ss64.com/css/font-smoothing.html
  text-shadow 1px 1px 1px rgba(0,0,0,0.004)