.iconHome
  margin 0 1rem 0 0

.back
  background rgba(91, 91, 224, 0.7)
  color #fff
  margin 1rem
  padding .5rem 2rem
  line-height 2rem
  position relative
  display inline-block
  font-family myFont
  text-decoration none
  font-weight bold

.title
  color #666667
  font-family myFont
  text-indent 1rem

.list
  position relative

.repo
  margin 0
  padding 0
  list-style-type armenian
  line-height 1rem
  font-weight bold

.text
  font-family myFont
  color #666
  margin 0
  padding 0

.description
  color #000
  font-style normal